.con3 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30vh;
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.con3-bg {
  background-image: url('../../photos/bg-3.webp');

  height: 60vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-position: center center; */
}
.con3-bg h2 {
  color: #ffffff;
  font-family: 'Lato', Sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 0px;
  /* margin-right: 200px; */
  text-align: right;
  margin-top: 25px;
}
.btn1 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.btn1 button {
  outline: none;
  border: 0px;
  border-radius: 30px;
  margin-top: 15px;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 0.04px;
  padding: 3px 25px;
  background-color: #572F59;
  color: white;
}
