.con2 {
  height: 100vh;
  background-image: url('../../photos/bg-2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 40vh;
  margin-bottom: 40vh;
  
}
