.card1{
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    margin: 10px;
    border-radius:5px ;
}
h4{
   
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 2em;
    color: black;
    margin: 14px 0px;
    
}
.card1 p {
    color: #AAAAAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
    margin: 0px;

}
.card1 img{
    /* background-color:#CD5823; */
    height: 40px;
    width: 40px;
    
    
    padding: 10px;
    color: #AAAAAA;
    /* filter:invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); */
    filter: invert(1) ;
    
}
.card1 svg {
    fill:white;
}

.img{
    background-color:#CD5823;
    border-radius: 50%;
}