.con1{
    height: 140vh;
    background-image: url('../../photos/bg-1.webp');
    background-repeat: no-repeat;
    background-size:100% 100vh  ;
    /* background-size: contain; */
    /* background-position: center center; */
    /* background-size: cover; */
}
